@import '../../styles/variables.scss';

section,
.slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 10rem;
    font-size: 3.5rem;
    color: $arrow-color;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease;
  }

  .left-arrow {
    @extend .right-arrow;
    left: 10rem;
  }

  .right-arrow:hover,
  .left-arrow:hover {
    color: $hover-color;
    transition: 0.5s ease-in-out;
  }

  .slide {
    opacity: 0;
    transition-duration: 0.5s ease;
  }
  .slide-active {
    opacity: 1;
    transition-duration: 0.5s;
  }

  .image-container {
    position: relative;
    max-width: 120rem;
    max-height: 80rem;

    .image-name {
      position: absolute;
      width: 100%;
      font-size: 1.6em;
      color: $font-color;
      background-color: $image-banner-background-color;
      opacity: 0;
    }
    .image {
      width: auto;
      height: auto;
      max-width: MaxSize;
      max-height: MaxSize;
    }
  }
  .image-container:hover .image-name {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    z-index: 10;
  }
}
