section,
.slider {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 32px;
    font-size: 2rem;
    color: rgb(125, 125, 125);
    z-index: 10;
    cursor: pointer;
    user-select: none;
  }

  .left-arrow {
    @extend .right-arrow;
    left: 32px;
  }

  .right-arrow:hover,
  .left-arrow:hover {
    color: rgb(200, 0, 0);
    transition: 0.5s ease-in-out;
  }

  .slide {
    opacity: 0;
    transition-duration: 0.5s ease;
  }
  .slide-active {
    opacity: 1;
    transition-duration: 0.5s;
  }

  .image-container {
    position: relative;
    .image-name {
      position: absolute;
      width: 100%;
      font-size: 1em;
      color: rgb(125, 125, 125);
      background-color: rgba(5, 5, 5, 0.8);
      opacity: 0;
    }
    .image {
      max-width: 1200px;
    }
  }
  .image-container:hover .image-name {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    z-index: 10;
  }
}
