@import '../../styles/variables.scss';

article,
.bioContainerActive {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 58px;
  padding: 25px;
  display: grid;
  justify-items: center;
  // align-items: center;
  font-weight: 200;
  background-color: $bio-transparency-background-color;
  z-index: 20;
  opacity: 0.98;
  transition: all 0.4s ease;

  .bioWrapper {
    width: 85%;
    height: 100vh;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-content: center;

    .imageContainer {
      justify-self: flex-start;
      grid-column: 1 / span 2;

      .bioImage {
        max-width: 400px;
      }
    }
    .descriptionContainer {
      margin-left: 25px;
      grid-column: 3 / span 8;
      // background-color: chartreuse;

      letter-spacing: 1.25px;

      .descriptionText {
        text-align: left;
      }

      .descriptionQuote {
        margin-top: 25px;
      }
    }
    .clientsEditorialPressContainer {
      margin-top: 25px;
      grid-column: 1 / span 8;
      grid-row: 2 / end;
      text-align: left;
      font-weight: 400;
      letter-spacing: 1.25px;

      .clientsWrapper {
        // height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .clients {
          padding: 0;
          .clientsTitle {
            color: $hover-color;
            margin-bottom: 20px;
          }
          li {
            margin: 4px 0;
            font-weight: 200;
            a {
              color: $font-color;
              text-decoration: none;
            }
            a:hover {
              color: $hover-color;
            }
          }
          // background-color: beige;
        }
        .editorials {
          padding: 0;
          // background-color: salmon;
          .editorialsTitle {
            color: $hover-color;
            margin-bottom: 20px;
          }
          li {
            margin: 4px 0;
            font-weight: 200;
            a {
              color: $font-color;
              text-decoration: none;
            }
            a:hover {
              color: $hover-color;
            }
          }
        }
        .press {
          padding: 0;
          // background-color: cornflowerblue;
          .pressTitle {
            color: $hover-color;
          }
          li {
            margin: 4px 0;
            font-weight: 200;
            a {
              color: $font-color;
              text-decoration: none;
            }
            a:hover {
              color: $hover-color;
            }
          }
        }
      }
    }
  }
}

.bioContainerInactive {
  top: -1000px;
  visibility: hidden;
  opacity: 0;
  // transition: all 0.5s ease;
}
