@import '../styles//variables.scss';

*,
*::after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  max-width: $main-width;
  margin: 0 auto;
  text-align: center;
  font-size: 62.5%; // This equals 10px so 1 rem = 10px ( 10rem / 16px = .625%)
}

body {
  font-family: 'montserrat';
  font-weight: 100;
  color: $font-color;
  background-color: $site-background-color;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: grid;
  grid-template-rows: 10rem 1fr auto;
}
