@import '../styles//variables.scss';

html {
  text-align: center;
}

body {
  font-family: 'montserrat';
  font-weight: 100;
  color: $font-color;
  background-color: $site-background-color;
}

main {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr auto;
}
