@import '../../styles/variables.scss';

.headerContainer {
  header {
    position: relative;
    width: 100%;
    padding: 2rem 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background-color: $site-background-color;
    z-index: 2000;

    @media (max-width: 769px) {
      display: none;
    }

    .logoLink {
      width: 100%;
      max-width: 20vw;
      @media (max-width: 1000px) {
        max-width: 25vw;
      }
    }
  }
}

.headerMobileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 769px) {
    display: none;
  }

  header {
    width: 100%;
    max-width: 40rem; // accounts for ipad spacing of logo
    padding: 2rem;
    @media (max-width: 415px) {
      max-width: 30rem; // accounts for mobile phone spacing of logo
    }
  }

  .menubarWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .menuIcon {
      display: grid;
      place-items: center;
      height: 4rem;
      width: 4rem;

      & > span {
        display: block;
        width: 4rem;
        height: 0.15rem;
        background: $font-color;
        transition: all 0.2s ease-in-out;
      }
      .menubar1 {
        justify-self: end;
      }
      .menubar2 {
        justify-self: end;
      }

      &.active span:nth-child(1) {
        width: 4rem;
        transform-origin: center center;
        transform: rotate(-45deg) translate(-10px, 11px);
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(-45deg) translate(-10px, 11px);
        -moz-transform-origin: center center;
        -moz-transform: rotate(-45deg) translate(-10px, 11px);
      }
      &.active span:nth-child(2) {
        opacity: 0;
        transform: translate(10px);
        -webkit-transform: translate(10px);
        -moz-transform: translate(10px);
      }
      &.active span:nth-child(3) {
        width: 4rem;
        transform-origin: center center;
        transform: rotate(45deg) translate(-8px, -10px);
        -webkit-transform-origin: center center;
        -webkit-transform: rotate(45deg) translate(-8px, -10px);
        -moz-transform-origin: center center;
        -moz-transform: rotate(45deg) translate(-8px, -10px);
      }
    }
  }

  .mobileNav {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 12rem;
    background-color: $transparency-background-color;
    z-index: 20;

    .mobileGalleryTitle {
      margin: 2rem 0;
      font-size: 4rem;
      font-weight: 100;
    }
  }
}
