@import '../../styles/variables.scss';

footer {
  padding-top: 1rem;
  height: 4rem;
  background-color: $site-background-color;
  z-index: 100;

  .footer-text {
    font-size: 1.2rem;
    font-weight: 300;
    letter-spacing: 1px;

    .footer-link {
      color: $font-color;
      text-decoration: none;
      transition: all 0.5s ease;
    }
    .footer-link:hover {
      color: $hover-color;
      transition: all 0.5s ease;
    }
  }
}
