@import '../../styles/variables.scss';

.fullscreenImageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $site-background-color;
  z-index: 3000;

  .right-arrow {
    position: absolute;
    top: 50%;
    right: 5rem;
    font-size: 3.5rem;
    color: $arrow-color;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    transition: all 0.5s ease;
    @media (max-width: 769px) {
      display: none;
    }
  }

  .left-arrow {
    @extend .right-arrow;
    left: 5rem;
    @media (max-width: 769px) {
      display: none;
    }
  }

  .right-arrow:hover,
  .left-arrow:hover {
    color: $hover-color;
    transition: 0.5s ease-in-out;
  }

  .iconWrapper {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .icon {
      margin-top: 2rem;
      padding: 2rem;
      cursor: pointer;
      z-index: 2500;

      // Close Button styling
      & > span {
        display: block;
        width: 4rem;
        height: 0.1rem;
        background: $font-color;
        transition: all 0.2s ease-in-out;
      }
      .forwardSlash {
        transform: rotate(-45deg);
      }
      .backSlash {
        transform: rotate(45deg);
      }
    }
    .icon:hover > .forwardSlash,
    .icon:hover > .backSlash {
      background: $hover-color;
    }
  }

  .imageDesktopWrapper {
    position: relative;
    margin: 0 auto;
    max-height: 100vh;
    transform: scale(1.2);

    .imageDescriptionContainer {
      position: absolute;
      width: 100%;
      margin: 0 auto;
      padding: 1rem;
      background-color: $image-banner-background-color;
      opacity: 0;

      .imageName {
        margin-bottom: 0.5rem;
        font-size: 1.6em;
        font-weight: 300;
        color: $font-color;
      }
      .imageDescription {
        font-size: 1.4em;
        font-weight: 200;
        color: $font-color;
      }
    }
  }
  .imageDesktopWrapper:hover .imageDescriptionContainer {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    z-index: 10;
  }
  .imageWrapper {
    height: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 100rem;

      // Extra Large display
      @media (min-width: 2400px) {
        max-height: 120rem;
      }
      // Low res displays and smaller laptops
      @media (max-height: 1000px) {
        max-height: 80rem;
      }
      @media (max-height: 850px) {
        max-height: 70rem;
      }
      @media (max-height: 750px) {
        max-height: 65rem;
      }
    }
  }
}
